# Appwrite Configuration (prefix with VITE_ to expose to frontend)
VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=

# Backend Server URL
VITE_BACKEND_URL=http://localhost:3000
